
@font-face {
  font-family: 'PhontPhreak-sHandwriting';
  src: url('PhontPhreak-sHandwriting.eot?#iefix') format('embedded-opentype'),  url('PhontPhreak-sHandwriting.woff') format('woff'), url('PhontPhreak-sHandwriting.ttf')  format('truetype'), url('PhontPhreak-sHandwriting.svg#PhontPhreak'sHandwriting') format('svg');
  font-weight: normal;
  font-style: normal;
}
